/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

a.btn,
a.btn:hover {
  color: white;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  align-items: flex-end !important;
  a:hover {
    background-color: #7da7e6;
    color: white !important;
    border: 1px solid #0d6efd;
  }
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.btn-info {
  color: white !important;
}
